<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZBYGate_Data_Collection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZBYGate_Data_Collection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <ZBYGate_Data_Collection.Properties.Settings>
            <setting name="Container_Ip" serializeAs="String">
                <value>192.168.1.99</value>
            </setting>
            <setting name="Container_Port" serializeAs="String">
                <value>12011</value>
            </setting>
            <setting name="Container_Num" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Plate_IPAddr" serializeAs="String">
                <value>192.168.1.98</value>
            </setting>
            <setting name="Plate_Port" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="Plate_LED_Prefix" serializeAs="String">
                <value>0030323130393533</value>
            </setting>
            <setting name="Plate_Image_Path" serializeAs="String">
                <value>C:\\Image\\</value>
            </setting>
            <setting name="Plate_Local_IpAddr" serializeAs="String">
                <value>192.168.1.250</value>
            </setting>
            <setting name="Plate_Local_Message" serializeAs="String">
                <value>祝您一路顺风！</value>
            </setting>
            <setting name="CVR_Com" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CVR_Read_While" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Gate_InDoorSN" serializeAs="String">
                <value>223166359</value>
            </setting>
            <setting name="Gate_OutDoorSN" serializeAs="String">
                <value>223285189</value>
            </setting>
            <setting name="Gate_InDoorIp" serializeAs="String">
                <value>192.168.1.111</value>
            </setting>
            <setting name="Gate_OutDoorIp" serializeAs="String">
                <value>192.168.1.112</value>
            </setting>
            <setting name="Gate_Port" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="LED_nControlType" serializeAs="String">
                <value>1126</value>
            </setting>
            <setting name="LED_nScreenNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LED_nWidth" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="LED_nHeight" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="LED_pSocketIP" serializeAs="String">
                <value>192.168.1.185</value>
            </setting>
            <setting name="LED_nSocketPort" serializeAs="String">
                <value>5005</value>
            </setting>
            <setting name="LED_nDYAreaID" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="LED_nTimeOut" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LED_nAreaX" serializeAs="String">
                <value>80,80,80,80,116,0</value>
            </setting>
            <setting name="LED_nAreaY" serializeAs="String">
                <value>25,44,63,82,101,120</value>
            </setting>
            <setting name="LED_nAreaWidth" serializeAs="String">
                <value>176,176,176,176,140,256</value>
            </setting>
            <setting name="LED_nAreaHeight" serializeAs="String">
                <value>19,19,19,19,19,19</value>
            </setting>
            <setting name="LED_nFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="LED_nFontColor" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="LED_nDelAllDYArea" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LED_pDYAreaIDList" serializeAs="String">
                <value>0,1,2,3,4,5</value>
            </setting>
            <setting name="LED_nShowTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LocalDataBase_Conn" serializeAs="String">
                <value>Database='hw';Data Source='localhost';User Id='gate';Password='123456';charset='utf8';pooling=true;SslMode=none;
allowPublicKeyRetrieval=True;</value>
            </setting>
        </ZBYGate_Data_Collection.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ZBYGate_Data_Collection.Properties.Settings>
            <setting name="Working_NoOCRresult" serializeAs="String">
                <value>没有识别到数据，请按标识驶入！</value>
            </setting>
            <setting name="Working_NoDataBaseResult" serializeAs="String">
                <value>没有登记数据，请下车刷身份证！</value>
            </setting>
            <setting name="Http_www" serializeAs="String">
                <value>http://10.87.216.31:19090/ProsGardenCar</value>
            </setting>
            <setting name="Http_HttpTimeOut" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Http_HttpReadWriteTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Http_eqId" serializeAs="String">
                <value>SPPLS01</value>
            </setting>
            <setting name="Http_switch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Plate_Local_End_Message" serializeAs="String">
                <value>请出闸！</value>
            </setting>
            <setting name="Http_NoStatus" serializeAs="String">
                <value>没有预约数据，请下车登记！</value>
            </setting>
            <setting name="Http_Status" serializeAs="String">
                <value>欢迎光临，请进闸！</value>
            </setting>
            <setting name="Working_NoNumberResult" serializeAs="String">
                <value>没有身份证数据，请人工处理!</value>
            </setting>
            <setting name="LED_LogSHow" serializeAs="String">
                <value>0,120,256,129</value>
            </setting>
            <setting name="Led_Log" serializeAs="String">
                <value>后台正在比对数据，请稍后!</value>
            </setting>
            <setting name="WorkIng_ReadCards" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LED_ResultFontColor" serializeAs="String">
                <value>16711680</value>
            </setting>
            <setting name="Working_Select_Logic" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Http_HttpNull" serializeAs="String">
                <value>查询远端服务器失败</value>
            </setting>
            <setting name="Exit_Password" serializeAs="String">
                <value>123</value>
            </setting>
        </ZBYGate_Data_Collection.Properties.Settings>
    </userSettings>
</configuration>
